// Define variables for your color scheme

// For example:
$red: #fd10149d;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #24dd1e94;
$gray: #0E0000;
$light-gray: #F4F4F4;
$black: #000000;
$gold: rgb(255, 215, 0);
$white: #FFFFFF;
$grey: grey
