.image-presenting {
  height: 600px;
  background: $black;
  box-shadow: 0 0 8px rgb(255, 215, 0.5);
  border-radius: 10px;
  padding:0;
  width: 1900px;
}

.container {
  width: 1900px;
}

#sticky-div{
  position: sticky;
  top: 0;
}
