<div id="myCarousel2" class="carousel slide" data-bs-ride="carousel">
  <!-- Slides -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= cl_image_tag @park.restaurants_photos[0].key, height: 278, width: 278, crop: :fill %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag @park.restaurants_photos[1].key, height: 278, width: 278, crop: :fill %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag @park.restaurants_photos[2].key, height: 278, width: 278, crop: :fill %>
    </div>
    <div class="carousel-item">
      <%= cl_image_tag @park.restaurants_photos[3].key, height: 278, width: 278, crop: :fill %>
    </div>
    <!-- Ajoutez plus de diapositives ici -->
  </div>
  <!-- Contrôles de navigation -->
  <a class="carousel-control-prev" href="#myCarousel2" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel2" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>
</div>
