
<div class="div-inside-map">
  <%= cl_image_tag(park.park_photos[0].key, style: 'width: 150px; height: 150px; border-radius: 10px;') %>
  <h2><%= park.name %></h2>
  <p><%= park.location %></p>
</div>
