<% @park.rentals.each do |rental| %>
  <% rental.park_reviews.each do |review| %>
    <div>
      <div class="border-bottom border-gray pb-3 lh-1">
        <div class='d-flex'>
          <%= cl_image_tag rental.user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="rating"><%= render_stars(review.rating) %></div>
          <p><i> posté il y a <%= time_ago_in_words(review.created_at) %></i> </p>
        </div>
        <%= review.comment %>
      </div>
    </div>
  <% end %>
<% end %>
