<div>
  <div class="banner" style="background-image:linear-gradient(to right, rgba(187,168,15,0.9) 53%, rgba(10, 10, 10, 0.1) 77%), url(https://res.cloudinary.com/dbdmgxxer/image/upload/v1710325325/air-attraction-1598/homepage/theme4_w213eu.jpg);">
    <div class="container" style="padding-right: 25em;margin-left: 1em;">
      <h1><strong>FunBooker</strong></h1>
      <p>Bienvenue sur <i>"FunBooker"</i> - votre destination en ligne pour réserver des expériences passionnantes dans les parcs d'attractions les plus extraordinaires du monde !</p>
      <%= link_to "Découvrez, dès maintenant nos magnifiques parcs d'attrations!", parks_path, class:"btn btn-warning" %>
    </div>
  </div>
</div>
<div class="cards-home">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbdmgxxer/image/upload/v1710325322/air-attraction-1598/homepage/theme8_gb3ax3.jpg)">
    Awesome
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbdmgxxer/image/upload/v1710325321/air-attraction-1598/homepage/theme2_onluhe.jpg)">
    Unforgetable
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dbdmgxxer/image/upload/v1710325321/air-attraction-1598/homepage/theme3_wglbvz.jpg)">
    Fantastical
  </div>
</div>
