.banner {
  background-size: cover ;
  background-position: center;
  padding: 150px 0;
  height: 60vh
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 16px rgb(255, 215, 0.5);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 16px rgb(255, 215, 0.5);
}
