.card-park {
  overflow: hidden;
  background: $black;
  box-shadow: 0 0 8px rgb(255, 215, 0.5);
  width: 500px;
  height: 500px;
  border-radius: 10px;
  margin: 16px;
  text-decoration: none;
}

.card-park > img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.card-park h2 {
  font-size: 16px;
  font-weight: bold;
  color: $white;
  margin: 0;
}

.card-park p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: $white;
}


.card-park .card-park-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background-color: $black;
}

.card-park-infos .card-park-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
