.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  background-color: $black !important;
  color: white;
  border-radius: 10px !important;
  box-shadow: 0 0 8px rgb(255, 215, 0.5) !important;
}
