// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card_park";
@import "card_form";
@import "banner";
@import "footer";
@import "nav_bar";
@import "cards";
@import "cards_home";
@import "map";
@import "tabs";

body {
  background-color: $black;
  color: $white;
  text-shadow: 1px 1px 16px rgb(255, 215, 0.5);
}

a {
  text-decoration: none;
}
