.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#map {
  position: sticky;
  top: 0;
  height: 100vh;
  border-radius: 25px;
  box-shadow: 0 0 8px #ffd701;
}


