.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  background-color: $black !important;
  color: white;
  border-radius: 10px !important;
  box-shadow: 0 0 8px rgb(255, 215, 0.5) !important;
}

#map {
  position: sticky;
  top: 0;
  height: 100vh;
  border-radius: 25px;
  box-shadow: 0 0 8px #ffd701;
}
