.navbar-lewagon {
  justify-content: space-between;
  background: $black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-lewagon .nav-link {
  color: $white;
}

.navbar-lewagon .dropdown-menu {
  background-color: $black;
  border-color: $gold;
}

.navbar-lewagon  .dropdown-item {
  color: $white;

  &:hover {
    color: $black;
  }
}
